h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: hsl(229, 57%, 11%);
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: hsl(243, 100%, 93%);
}

body, html {
  height: 100%;
}

body {
  background-image: url("/images/bg-desktop.png");
  background-color: hsl(229, 57%, 11%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 920px;
  display: flex;
  gap: 30px;
}

/* ------------------- Left Container ------------------- */

.left-container {
  flex: 0 1 350px;
  background-color: hsl(228, 56%, 26%);
  padding: 40px;
  border-radius: 10px 100px 10px 10px;
  box-shadow: 0 10px 30px hsl(231, 54%, 15%);
}

.right-container {
  flex: 0 2 540px;
  background-color: hsl(228, 56%, 26%);
  padding: 40px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 30px hsl(231, 54%, 15%);
}

.icons-container {
  display: flex;
  margin-top: 30px;
  gap: 16px;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(231, 54%, 15%);
  height: 48px;
  width: 48px;
  border-radius: 8px;
  cursor: pointer;
}

.icon-background:hover {
  background-color: hsl(231, 56%, 13%);
}

/* ------------------- Right Container ------------------ */

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: hsl(231, 56%, 13%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  position: relative;
}

.progress-bar-inner {
  width: 70%;
  height: 16px;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 8px;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.progress-bar-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  margin-right: 2px;
}

.tags {
  display: flex;
  justify-content: space-between;
}

.bold-text {
  font-weight: 700;
}

/* ----------------------- Bubble ----------------------- */

.bubble-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 180px;
  height: 80px;
  position: absolute;
  border-radius: 10px 10px 0 10px;
  right: 0;
  bottom: 60px;
  box-shadow: 0 5px 20px hsl(231, 54%, 15%);
}

.bubble-container::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: 80px;
}

.bubble-container p {
  color: hsl(229, 7%, 55%);
}

/* --------------------- Attribution -------------------- */
.attribution {
  font-size: 11px;
  color: hsl(243, 100%, 93%);
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}